<li class="burgers">
    <div class="animated pulse burger-name">
        {{burger_name}}
    </div>

    <div class="burger-buttons">
        <button class="devoured-button" data-id="{{id}}" data-newdevoured="{{devoured}}">
            {{#if devoured}}EAT ME!{{else}}PUT ME BACK IN CHEF!{{/if}}
        </button>

        <button class="delete" data-id="{{this.id}}">Remove</button>
    </div>
</li>